@import "../theme";

.connection {
  &.container {
    display: flex;
    margin-top: 2em; 
    margin-bottom: 2em;
    min-height: 300px;
    @include center;
    flex-direction: column;
    padding: 20px;
  }

  &.outer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    border-radius: 0.75em;
    background-color: $containerBehind;
    padding: 40px;
  }

  .inner-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: $containerFront;
    border-radius: 0.75em;
    padding: 30px;
    min-height: 900px;
    position: relative;
  }

  .row-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; // boxen rücken nach unten, wenn kein platz mehr
    width: 100%;
  }

  .row-form-center {
    @extend .row-form; /* Erbe alle Eigenschaften von .row-form */
    justify-content: center; /* Überschreibe justify-content mit center */
    align-items: center;
  }

  .row-form-end {
    @extend .row-form;
    width: 80%;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //padding: 20px;
    flex-basis: auto;
    //background-color: bisque;
    height: auto;
  }

  .box-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 65%;
    border-radius: 3em;
    padding: 10px;
    flex-wrap: wrap;
    background-color: white;
    color: black;
  }

  .date {
    display: flex;
    justify-content: center;
    border-radius: 0.4em;
    padding: 5px;
    color: black;
    max-width: 220px;
  }

  .input {
    display: flex;
    height: 35px;
    width: 100%;
    border-radius: 2em;
    padding-left: 40px;
    padding-top: 3px;
    color: black;
    position: relative;
    margin-bottom: 35px;
    font-size: 13pt;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); /* Shadow on the right side */
    resize: none;
    overflow: hidden;
  }

  .input-large {
    @extend .input; /* Erbe alle Eigenschaften von .row-form */
    height: 100%; /* Überschreibe justify-content mit center */
    resize: none;
  }

  .horizontal-line {
    border: none;
    border-top: 10px solid white; /* Weiß als Linienfarbe */
    //margin: 5px 0; /* Anpassen des Abstands oberhalb und unterhalb der Linie */
    width: 80%;
  }

  .names {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .participants {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    background-color: white;
    color: black;
    margin-block: 10px;
    border-radius: 0.75em;
    padding: 10px;
  }

  .cancel {
    display: flex;
    justify-content: center;
    flex-basis: 200px;
    padding: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 0.75em;
  }

  .create {
    @extend .cancel;
    background-color: green;
  }

  .image {
    height: 30px;
  }

  .button {
    cursor: pointer; // change to finger pointer
    width: 150px;
    height: 75px;
    color: white;
    position: relative;
    margin: 20px;

    &:hover {
      //color: red;
      text-shadow: 0 0 10px black;
    }

    &#cancelButton {
      background-color: red;
    }

    &#confirmButton {
      background-color: green;
    }

  }

  .connector {
    border-right: 5px solid #28344c;
    position: absolute;
    top: 65px;
    width: 10px;
    height: 70px;
    left: 11.4px;
  }

  .locations_container {
    align-self: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    align-items: center;
    padding-bottom: 30px;
  }

  .black-circle {
    width: 20px; /* size of the circle - width */
    height: 20px; /* size of the circle - height */
    background-color: #28344c; /* black color */
    border-radius: 50%; /* rounded edges to form a circle */
    display: flex; /* to enable centering of content (if any) */
    justify-content: center; /* horizontal centering of content (if any) */
    align-items: center; /* vertical centering of content (if any) */
    position: absolute;
    left: 9px;
  }

  #first.black-circle {
    top: 60px;
  }

  #second.black-circle {
    top: 130px;
  }

  #results {
    left: 10%;
    width: 80%;
    position: relative;
    top: 25%;
    padding: 10px;
  }

  #destinationBlock::placeholder {
    color: #28344c;
  }

  #lastBox {
    position: absolute;
    top: 30%;
    width: 90%;
  }

  .spinner {
    border: 7px solid rgba(0, 0, 0, 0.1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
    align-self: center;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@media (max-width: 650px) {
  #baseContainerChooseConnection {
    padding-left: 0;
    padding-right: 0;
  }

  #secondContainer {
    padding-left: 2px;
    padding-right: 2px;
  }

  .connection {
    .outer-form {
      padding: 10px;
    }

    .inner-form {
      padding: 10px
    }

    #results {
      left: 0;
      width: 100%;
    }
  }
}

@media (max-width: 437px) {
  .connection {
    #first.black-circle {
      top: 60px
    }

    #second.black-circle {
      top: 130px;
    }

    .connector {
      top: 75px;
    }
  }
}

