@import "../theme";

.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Adjust the ratios according to your design */
  gap: 30px; /* Spacing between columns */
  padding-top: 20px;
  padding-bottom: 60px;
  padding-right: 50px;
  padding-left: 50px;
  //background-image: url("../../graphics/netzplan.svg");
  //background-size: cover;
  //background-position: center;
  //min-height: 99vh;
  position: relative;
  overflow: hidden; // Contain the pseudo-element for the overlay

  &::before {
    content: "";
    position: absolute;
    inset: 0; // Shorthand for top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0, 0, 0, 0.4); // Dark overlay
    backdrop-filter: blur(4px); // Blur effect
    pointer-events: none; // Allows clicks to pass through to elements below
  }

  // To ensure content is visible above the overlay
  & > * {
    position: relative;
    z-index: 1;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Spacing between items in the column */
}

.component {
  background: #d8d8d8;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0.5em 0.55em rgba(0, 0, 0, 0.4);
}

.component h2 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
  border-bottom: 2px solid #222222;
  padding-bottom: 3px;
  margin-bottom: 20px;
}

/* Styling for the welcome message */
.welcome {
  background: #3a4a58;
  .welcome-title {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 3px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 1.4rem;
  }

  p {
    margin-bottom: 10px; /* Adjust as needed */
    color: rgb(255, 255, 255);
  }
  .create-button-container {
    display: flex;
    justify-content: center;
  }
  .trip-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 200px;
  }

  .trip-info {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-items: center;
    background: #6e90ae;
    color: white; /* Text color for trip items */
    margin-bottom: 10px; /* Spacing between trip items */
    padding: 5px 15px 5px 15px; /* Padding inside trip items */
    border-radius: 4px; /* Rounded corners for trip items */
    box-shadow: 0 0.5em 0.55em rgba(0, 0, 0, 0.3);
  }
}

.friend-list-list {
  max-height: 400px;
  min-height: 400px;
}

.notifications-log-list {
  overflow-y: auto;
  min-height: 400px;
  max-height: 400px;
}

/* Styling for the current trips component */
.current-trips {
  background: #21689e;
  padding: 10px; /* Smaller padding to make the component a bit smaller */
  max-height: 300px;
  margin-bottom: 30px;

  h2 {
    color: white; /* Color of the title text */
    margin-bottom: 10px;
  }
}

.trip-invitations {
  .trip-invitation-list {
    max-height: 165px;
    overflow-y: auto;
    .trip-invitation {
      display: flex; // This enables Flexbox for the container
      align-items: center; // This vertically centers the items in the container
      flex-wrap: wrap;
      justify-content: space-between; // This positions the items on opposite ends of the container
      // Enable scrolling for the list
      // Limit the height of the list to enable scrolling
      border-bottom: 1px solid #a5a5a5;

      div {
        // Style for the invitation text
        flex-grow: 1; // This allows the text to take up the available space, pushing the button to the right
        margin-right: 20px; // Optional: Adds some space between the text and the button
        margin-bottom: 10px; // Optional: Adds some space between the invitation items
        margin-top: 10px; // Optional: Adds some space between the invitation items
      }
      Button {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

/* Add media queries below for responsiveness */
@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr; /* Stack columns on small screens */
  }
  .column {
    width: 100%; /* Full width on small screens */
  }
}
