@import "../theme";

.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Adjust the ratios according to your design */
  gap: 30px; /* Spacing between columns */
  padding-top: 20px;
  padding-bottom: 60px;
  padding-right: 50px;
  padding-left: 50px;
  position: relative;
  overflow: hidden; // Contain the pseudo-element for the overlay
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Spacing between items in the column */
}

.component {
  background: rgba(216, 216, 216, 0.7);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0.5em 0.55em rgba(0, 0, 0, 0.4);
}

.component h2 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
  border-bottom: 2px solid #222222;
  padding-bottom: 3px;
  margin-bottom: 20px;
}

/* Styling for the welcome message */
.welcome {
  background: #3a4a58;
  .welcome-title {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 3px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 1.4rem;
  }

  p {
    margin-bottom: 10px; /* Adjust as needed */
    color: rgb(255, 255, 255);
  }
  .create-button-container {
    display: flex;
    justify-content: center;
  }
  .trip-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 200px;
  }

  .trip-info {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-items: center;
    background: #6e90ae;
    min-height: 50px;
    color: white; /* Text color for trip items */
    margin-bottom: 20px; /* Spacing between trip items */
    padding: 5px 15px 5px 15px; /* Padding inside trip items */
    border-radius: 4px; /* Rounded corners for trip items */
    box-shadow: 0 0.5em 0.55em rgba(0, 0, 0, 0.3);
  }
}

// Friend list component styles

.friend-list {
  overflow-y: auto;
  max-height: 200px;
  min-height: 200px;
  padding: 0px 10px 10px 10px;
}

.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Adjust as needed */
}

.name {
  font-weight: bold;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 0.8em;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.request-list {
  overflow-y: auto;
  max-height: 100px;
  min-height: 100px;
}
.request {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 5px 15px;
  border-bottom: 1px solid #a5a5a5;
}

.accept-button {
  animation: glow 3s infinite ease-in-out;

  @keyframes glow {
    0%,
    100% {
      box-shadow: 0 0 8px rgb(0, 255, 8), 0 0 8px rgb(0, 255, 4),
        0 0 8px rgb(0, 255, 30);
    }
    50% {
      box-shadow: 0 0 8px rgba(105, 105, 105, 0.504),
        0 0 8px rgba(96, 96, 96, 0.389), 0 0 8px rgba(87, 87, 87, 0.382);
    }
  }
}
.show-details-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

//--------------------------------------------------

.notifications-log-list {
  overflow-y: auto;
  min-height: 400px;
  max-height: 400px;
}

/* Styling for the current trips component */
.current-trips {
  background: #21689e;
  padding: 10px; /* Smaller padding to make the component a bit smaller */
  max-height: 300px;
  margin-bottom: 25px;

  h2 {
    color: white; /* Color of the title text */
    margin-bottom: 10px;
  }
}

.trip-invitations {
  .trip-invitation-list {
    max-height: 165px;
    overflow-y: auto;
    .trip-invitation {
      display: flex; // This enables Flexbox for the container
      align-items: center; // This vertically centers the items in the container
      flex-wrap: wrap;
      justify-content: space-between; // This positions the items on opposite ends of the container
      // Enable scrolling for the list
      // Limit the height of the list to enable scrolling
      border-bottom: 1px solid #a5a5a5;
      padding: 5px 15px 5px 15px;

      div {
        // Style for the invitation text
        flex-grow: 1; // This allows the text to take up the available space, pushing the button to the right
        margin-right: 20px; // Optional: Adds some space between the text and the button
        margin-bottom: 10px; // Optional: Adds some space between the invitation items
        margin-top: 10px; // Optional: Adds some space between the invitation items
      }
      Button {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

/* Add media queries below for responsiveness */
@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr; /* Stack columns on small screens */
  }
  .column {
    width: 100%; /* Full width on small screens */
  }
}
