@import "../theme";

.header {
  &.cont {
    display: flex;
    box-shadow: $dropShadow;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #001f33 20%, #999da1 100%);
    height: 90px;

    .logo img {
      height: 90px; 
    }

    .menu-icon {
      margin-right: 2rem; // Adjust this value to move the burger icon towards the middle
    }
  }
}
