@import "../theme";

.header {
  position: relative;
  &.cont {
    display: flex;
    box-shadow: $dropShadow;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #001f33 20%, #999da1 100%);
    height: 100px;
    position: relative;

    .logo img {
      height: 90px;
    }

    .menu-icon {
      margin-right: 2.5rem;
    }

    .signal {
      position: absolute;
      bottom: 0; // Adjust based on the bottom position of the signal within the header
      left: 50%;
      transform: translateX(-50%);
      z-index: 10; // Make sure it is above other positioned elements
      height: 45px; // Match the height of your signal image
    }
  }

  .train-container {
    position: absolute;
    bottom: 0; // Aligns the bottom of the train container to the bottom of the header
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 25px;
    // This container should be the same height as the train image for proper alignment
    z-index: 2;

    .train {
      position: absolute;
      bottom: 1px; // Align the bottom of the train image with the bottom of its container
      height: 100%; // Ensure the train takes full height of the container
      animation: moveTrain 17s linear infinite;
    }

    .rails {
      display: block; // This ensures the image behaves like a block element
      position: absolute;
      bottom: 0; // Align the bottom of the rails with the bottom of the container
      left: 0;
      width: 100%; // The rails image will be the full width of the container
      height: 3px; // Maintain the aspect ratio of the rails image
      z-index: 1; // Below the train image
      background: url("../../graphics/rails.png") repeat-x;
      background-size: contain; // This ensures the image is scaled correctly
    }
  }
}
@keyframes moveTrain {
  0% {
    transform: translateX(-100%);
  } // Start off-screen to the left
  100% {
    transform: translateX(calc(100% + 100vw));
  } // Move to the right, far enough to be fully off-screen
}
