@import "../theme";

.Carousel-List-Container {
  width:95%;
  margin:auto;
}

.ListTemplate{
  &.template {
    width:100%;
  }
  &.container {
    border-radius: 10px;
    margin-top: 2em;
    min-height: 300px;
    @include center;
    flex-direction: column;
    background:$background;
    justify-content: start;
    padding: 5px;
    user-select: none;
  }
  &.button-holder {
    padding:20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  &.list {
    display:flex;
    flex-wrap: wrap;
    gap:15px;
    padding:15px;
  }
  &.element {
    border-radius: 10px;
    flex: 1 1 200px;
    padding:10px 2px;
    min-height:30px;
    background: beige;
  }
  
}

.List {
  &.popup-container11 {
    max-width:200px;
    margin:auto;
  }
  &.popup11 {
    padding: 15px;
    display:flex;
    flex-direction:column;
  }
  &.popup-input11 {
    padding: 5px;
    border-radius:10px;
    color: black;
    margin-bottom:15px;
  }
  &.popup-buttons11 {
    display:flex;
    justify-content: center;
    gap: 10px;
  }
  &.list {
    display:flex;
    flex-wrap: wrap;
    gap:15px;
    padding:15px;
  }
  &.element {
    border-radius: 10px;
    flex: 1 1 200px;
    padding: 10px 2px;
    min-height: 30px;
  }
  &.avatar {
    width: 30px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
    margin-left:30px;
    margin-right: -10px;
  }
  &.empty-circle {
    background-color: transparent;
    border: 2px solid #000;
  }
}

.ListItem {
  &.container {
    margin: 0;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    color:black;
    flex-wrap: wrap;
    .name {
      margin-right:auto;
      max-width:60%;
      display:block;
      hyphens: auto;
    }
    .item-icons {
      display:flex;
      width:20px;
      .trash-icon {
        cursor:not-allowed;
      }
      .edit-icon {
        cursor: pointer;
        margin-right:10px;
      }
      .complete-icon {
        cursor: pointer;
        margin-right:10px;
      }
    }
  }
  &.form {
    width:100%;
    display:flex;
  }
  &.form-input {
    width:80%;
  }
  &.update-button {
    margin-left:auto;
    padding-left:5px;
  }
}

@media (max-width:768px) {
  .ListItem {
    &.container{
      .name {
        max-width: 100px;
      }
    }
  }
}