@import "../theme";

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  max-width: $DESKTOP_WIDTH;
  min-height: 800px;
  background-color: $containerBehind;
  border-radius: $borderRadius;

  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .main-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: $textColor;
    margin-right: 20px;
  }

  .trip-information-container {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $containerFront;
    border-radius: $borderRadius;
    width: 95%;
    margin: 0px 20px 30px 20px;
    box-shadow: $dropShadow;

    .trip-description {
      font-size: 1rem;
      font-weight: 500;
      color: $textColor;
      margin-top: 20px;
      margin-bottom: 10px;
      padding-left: 20px;
      padding-right: 10px;
    }

    .trip-arrival-participants {
      display: flex;
      justify-content: space-around;
      width: 95%;
      color: $textColor;
      font-size: 0.9rem;
      border-top: $borderLine;
      padding-top: 10px;
      padding-bottom: 20px;
      font-weight: 450;
    }
  }

  .current-locations-container {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $containerFront;
    border-radius: $borderRadius;
    width: 95%;
    margin: 0px 20px 30px 20px;
    box-shadow: $dropShadow;

    .current-locations-title {
      margin: 0;
      font-size: 1.3rem;
      font-weight: 600;
      color: $textColor;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .connections-list {
      width: 100%;
      overflow-y: auto;
      max-height: 400px;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 30px;

      .connection-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(184, 202, 215, 0.65);
        border-radius: $borderRadius;
        margin-bottom: 20px;
        box-shadow: inset $dropShadow;
        min-height: 80px;
        padding: 10px;

        .connection-name {
          min-width: 170px;
          max-width: 170px;
          margin-right: 10px;
          color: $textColor;
          font-size: 1rem;
          font-weight: 500;
          overflow: hidden; /* Prevents text from flowing outside the box */
          white-space: nowrap; /* Keeps the text on a single line */
          text-overflow: ellipsis; /* Adds an ellipsis (...) at the end when text overflows */
          border-right: $borderLine;
        }

        .start-text {
          color: $textColor;
          padding-right: 20px;
          min-width: 100px;
          font-size: 0.8rem;
        }

        .progress-bar {
          box-shadow: $dropShadow;
        }

        .arrival-text {
          color: $textColor;
          padding-left: 20px;
          min-width: 130px;
          font-size: 0.8rem;
        }
      }
    }

    .trip-buttons {
      display: flex;
      justify-content: space-around;
      width: 95%;
      margin-bottom: 20px;
      gap: 10px;
    }
  }

  .admin-container {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $containerFront;
    border-radius: $borderRadius;
    width: 95%;
    margin: 0px 20px 30px 20px;
    box-shadow: $dropShadow;

    .admin-buttons {
      display: flex;
      justify-content: space-around;
      width: 95%;
      margin-bottom: 20px;
      gap: 10px;
    }
  }

  .ul_title {
    width: 95%;
    align-items: left;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: $textColor;
    border-bottom: $borderLine;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .lists-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    margin: 0px 20px 30px 20px;

    .todo-list-container,
    .packing-lists-container {
      min-height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $containerFront;
      border-radius: $borderRadius;
      width: calc(50% - 10px);
      box-shadow: $dropShadow;
    }

    .packing-lists-container {
      background-color: $containerFront;
    }
  }

  .log-button {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10px;

    .icon {
      width: 80%;
      height: 80%;
      position: absolute;
      top: 50%;
      left: 47%;
      transform: translate(-50%, -50%);
    }
  }

  .notification-log {
    position: absolute;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0.7em 0.6em rgba(0, 0, 0, 0.45);
    width: 300px;
    max-height: 500px;
    overflow: auto;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index:2;


    .component {
    }
  }

}

@media (max-width: 600px) {
  .main-container {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
    min-height: 600px;
    padding-left: 3px;
    padding-right: 3px;

    .main-title {
      text-align: center;
      max-width: 60%;
    }

    .notification-log {
      position: absolute;;
      left: 0%;
    }
  }

  .trip-information-container {
    .trip-description {
      text-align: center;
    }

    .trip-arrival-participants {
      flex-direction: column;
      align-items: center;
    }
  }

  .current-locations-container {
    .current-locations-title {
      text-align: center;
    }

    .connections-list {
      padding-left: 0;
      padding-right: 0;
      min-height: 150px;
      max-height: 500px;

      .connection-item {
        flex-direction: column;
        align-items: center;

        .connection-name {
          text-align: center;
          width: 100%;
          margin-right: 0 !important;
          border-right: none !important;
          border-bottom: $borderLine;
          margin-bottom: 10px;
        }

        .start-text {
          padding-right: 0 !important;
          min-width: 0 !important;
        }

        .progress-bar {
          margin-bottom: 10px;
        }

        .arrival-text {
          padding-left: 0 !important;
          min-width: 0 !important;
        }
      }
    }
  }


}

@keyframes blink {
  50% {
    opacity: 0.7;
  }
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 7px #bcffe3, 0 0 7px #bcffe3, 0 0 8px #bcffe3;
  }
  50% {
    box-shadow: 0 0 7px rgba(105, 105, 105, 0.504),
    0 0 8px rgba(96, 96, 96, 0.389), 0 0 7px rgba(87, 87, 87, 0.382);
  }
}

.blinking-glowing {
  animation: blink 3s linear infinite, glow 3s infinite;
}
