@import "../theme";

.trip {
  &.container {
    display: flex;
    margin-top: 2em; // Abstand oben
    margin-bottom: 2em;
    min-height: 300px;
    @include center;
    flex-direction: column;
    padding: 20px;
  }

  &.outer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    border-radius: 0.75em;
    background-color: $containerBehind;
    padding: 40px;
  }

  .inner-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: $containerFront;
    border-radius: 0.75em;
    padding: 30px;
    min-height: 800px;
    box-shadow: $dropShadow;
  }

  .row-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; // boxen rücken nach unten, wenn kein platz mehr
    width: 100%;
  }

  .row-form-center {
    @extend .row-form; /* Erbe alle Eigenschaften von .row-form */
    justify-content: center; /* Überschreibe justify-content mit center */
    align-items: center;
  }

  .row-form-end {
    @extend .row-form;
    width: 80%;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 280px;
  }

  .box-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 65%;
    border-radius: 3em;
    padding: 10px;
    flex-wrap: wrap;
    background-color: rgba(184, 202, 215, 0.65);
    color: $textColor;
    box-shadow: $dropShadow;
  }

  .add-friends-label {
    cursor: pointer;
  }

  .date {
    display: flex;
    justify-content: center;
    border-radius: 0.4em;
    padding: 5px;
    color: $textColor;
    max-width: 220px;
    width: 100%;
    background-color: rgba(184, 202, 215, 0.65);
    box-shadow: $dropShadow;
  }

  .label {
    color: $textColor;
  }

  .header {
    color: $textColor;
    font-weight: bold;
    font-size: 1.875rem; 
  }

  .header-create {
    color: $textColor;
    font-weight: bold;
    font-size: 1.875rem; 
    margin-bottom: 5px;
  }
  

  .input {
    display: flex;
    width: 100%;
    border-radius: 0.4em;
    padding: 5px;
    color: $textColor;
    background-color: rgba(184, 202, 215, 0.65);
    box-shadow: $dropShadow;
  }

  .input-large {
    @extend .input; /* Erbe alle Eigenschaften von .row-form */
    height: 100%; /* Überschreibe justify-content mit center */
    resize: none;
  }

  .horizontal-line {
    border: none;
    border-top: 5px solid rgba(184, 202, 215, 0.65); 
    width: 80%;
    margin-top: 10px;
    box-shadow: $dropShadow;
    border-radius: 0.75em;
  }

  .horizontal-line-decent {
    border-top: 5px solid $containerFront;
    width: 60%;
    margin: 2px; 
  }

  .names {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .participants {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    background-color: rgba(184, 202, 215, 0.65); 
    box-shadow: $dropShadow;
    color: black;
    margin-block: 10px;
    border-radius: 0.75em;
    padding: 10px;
  }

  .cancel {
    display: flex;
    justify-content: center;
    flex-basis: 200px;
    padding: 10px;
    background-color: rgb(255, 0, 0);
    box-shadow: $dropShadow;
    border-radius: 0.75em;
  }

  .create {
    @extend .cancel;
    background-color: green;
  }

  .image {
    height: 30px;
  }

  .button {
    cursor: pointer; // change to finger pointer

    &:hover {
      //color: red;
      text-shadow: 0 0 10px black;
    }
  }
}


