@import "../theme";

.profile-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  max-width: $DESKTOP_WIDTH;
  opacity: 0; // Start with an opacity of 0
  animation: fadeIn 2s forwards; // Increase opacity to 1
  

  @media (max-width: 768px) {
    padding: 5%;
    margin-top: 30px;
  }

  .avatar-and-text {
    display: flex;
    max-width: 800px; // limit the width of the container
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    width: 100%;
    //animation: gradientAnimation 10s ease infinite;
    background-color: #ffffff;
    // background: linear-gradient(-45deg, #e7e7e7, #c4c4c4, #3d3d3d, #929292);
    background-size: 400% 400%;
    color: black;
    border-radius: 20px; /* Adjust as necessary */

    @media (max-width: 768px) {
      flex-direction: column; // stack elements vertically on smaller screens
      align-items: center; // center items when stacked
      width: 100%;
    }
    .avatar-and-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px; // Space between avatar and buttons
      padding: 30px 30px 30px 30px;
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .avatar-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px; // Space between buttons

      .file-upload-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;

        .choose-file {
          display: none; // Verstecke das tatsächliche Input-Element
        }

        .file-upload-btn {
          font-weight: 700;
          background-image: linear-gradient(to bottom, #00e0c6, #0095b3);
          box-shadow: 0 0.5em 0.55em rgba(0, 0, 0, 0.7);
          color: black;
          border: none;
          padding: 10px 20px;
          border-radius: 4px;
          cursor: pointer;
          transition: all 0.4s ease;
          margin-bottom: 10px; // Abstand zum "Keine ausgewählt"-Text

          &:hover {
            background-color: darken(#007bff, 90%);
            transform: translateY(-10px);
          }
        }

        .file-selected {
          font-size: 0.8rem;
          color: #3a3a3a;
        }
      }
    }
    .avatar {
      width: 200px;
      height: 200px;
      margin: 30px; // shorthand for margin values
      border-radius: 50%;
      object-fit: cover;
      animation: float 4s ease-in-out infinite;
      
      @media (max-width: 768px) {
        width: 40vw; // make the avatar width responsive
        height: 40vw; // maintain aspect ratio
        margin: 20px 0; // adjust margins for smaller screens
      }
    }
    .label {
      font-size: 1.2rem;
      margin-bottom: 0.2rem;
    }

    .text {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      gap: 10px;
      padding: 30px;

      @media (max-width: 768px) {
        width: 100%;
      }

      .input-username,
      .input-email,
      .input-birthday,
      .input-password{
        color: black;
        padding: 4px;
        background-color: #eee;
      }
    }

    .buttons-container {
      display: flex;
      gap: 10px;
      margin-top: 20px;

      @media (max-width: 768px) {
        flex-direction: column; // stack buttons vertically on smaller screens
        align-items: center; // center buttons when stacked
      }
    }
  }

// KEYFRAMES

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes pulseShadow {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
      transform: scale(1);
    }
    50% {
      box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
      transform: scale(1.05);
    }
    100% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
      transform: scale(1);
    }
  }

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
    50% {
      transform: translateY(-4px);
      box-shadow: 0 25px 15px rgba(0,0,0,0.2);
    }
  }
  
}
