.profile-page-container {
  height: 100vh;
  padding: 10% 20% 20% 20%; // use relative padding
  box-sizing: border-box; // make sure padding doesn't affect the total width

  @media (max-width: 768px) {
    padding: 10%; // less padding on smaller screens
  }

  .avatar-and-text {
    display: flex;
    align-items: stretch;
    border-radius: 15px;
    background-color: rgb(194, 255, 235);

    @media (max-width: 768px) {
      flex-direction: column; // stack elements vertically on smaller screens
      align-items: center; // center items when stacked
    }

    .avatar {
      width: 200px;
      height: 200px;
      margin: 30px 60px 30px 30px; // shorthand for margin values
      border-radius: 50%;
      object-fit: cover;

      @media (max-width: 768px) {
        width: 40vw; // make the avatar width responsive
        height: 40vw; // maintain aspect ratio
        margin: 20px 0; // adjust margins for smaller screens
      }
    }
    .label {
      // Angenommen, Ihre Label-Komponente verwendet eine Klasse namens 'label'
      font-size: 1.2rem; // Größere Schriftgröße
      margin-bottom: 0.5rem; // Optional: Fügen Sie Abstand zum nächsten Element hinzu
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (max-width: 768px) {
        align-items: center; // center text on smaller screens
        text-align: center; // ensure text is centered
      }
    }
  }
}
