.connectionContainer {

  .presentation {
    background-color: whitesmoke;
    border-radius: 0.5em;
    width: 100%;
    height: 85px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); 
    position: relative;
  }
  .info-for-connection2 {
    position:absolute;
    top:0;
    right:0;
    font-size:1.3rem;
    margin: 2px 2px 0 0;
    }

  .presentation-table {
    width: 100%; 
    overflow-x: auto; 
    border-radius: 0.5em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); 
    position: relative;

  }

  .clickedPresentation {
    background-color: whitesmoke;
    border-radius: 0.5em;
    width: 100%;
    height: 85px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); 
    position: relative;
    outline: green solid 5px;
  }

  .table {
    height: auto;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin: 10px;
    margin-bottom: 20px;
    height: auto;
  }

  .black-circle {
    width: 15px; 
    height: 15px; 
    background-color: #28344c; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    position: absolute;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); 
    top: 37px;
  }

  #startCircle {
    left: 20%;
  }

  #endCircle {
    left: 75%;
  }

  .tripLine {
    border: none;
    border-top: 5px solid #28344c;
    width: 55%;
    position: absolute;
    top: 50%;
    left: 22%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); 
  }

  #travelTime {
    bottom: 5px;
    right: 30%;
  }

  #departureTime {
    left: 3%;
    top: 50%;
    transform: translate(0, -50%);
  }

  #arrivalTime {
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
  }

  .time {
    color: black;
    position: absolute;
  }
}

@media (max-width: 650px) {
  .connectionContainer {
    .box {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
