@import "../theme";

.favourites-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
}

.trip-label {
    cursor: pointer;
  }
  
  .trip-label:hover {
    text-shadow: 2px 2px 4px #000;
  }