@import "../theme";

.favourites-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 4px;
  padding: 5px 0px;
  border-radius: 10px;

  .favourite-date {
    min-width: 60px;
    max-width: 60px;
  }
  .favourite-name {
    min-width: 100px;
    max-width: 100px;        
    word-wrap: break-word;
  }

  .reise-info-button {
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
  }
}

.favourites-log-list {
  overflow-y: auto;
  max-height: 400px;

  ol {
    li {
      margin-bottom: 5px;
      border-bottom: 1px solid #a5a5a5;
      padding-bottom: 5px;
      margin-right: 10px;
    }
  }
}