@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@600&family=Space+Mono:wght@400;700&display=swap");


.not-found-btn {
  margin-top: 2rem;
  font-family: "Space Mono", monospace;
  color: #fff;
  background-color: #333333;
  border: none;
  outline: none;
  padding: 2rem 4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  cursor: pointer;
  width: 300px;
}

.not-found-display {
  display:flex;
  flex-direction: row;
}

.not-found-display__img {
  flex:1;
}

.not-found-display__content {
  flex:1;
  font-family: "Space Mono", monospace;
  color: #fff;
  text-align: center;
  margin: 0px 10px;

  &--info {
    font-size:5rem;
  }
  &--text {
    font-size:2rem;
  }
}

@media (min-width: 769px) {
  .not-found-display {
    margin: 100px;
  }
}


@media (max-width: 768px) {
  .not-found-display {
    flex-direction: column;
  }
  .not-found-display__content {
    &--info {
      font-size:2rem;
    }
    &--text {
      font-size:1rem;
    }
  }
}